@import url("styles/base.css");
@import url("styles/color.css");
@import url("styles/utils.css");

@import url("styles/components/footer.css");
@import url("styles/components/header.css");

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-black);
}

table {
  table-layout: auto;
  overflow: hidden;
}

input::placeholder {
  color: var(--color-slate-4);
}

input, button {
  width: 100%;
  height: 100%;
}

.brand {
  display: inline-block;

  text-align: center;
  vertical-align: middle;
  
  & .gap {
    --gap: .5rem;
  }

  & .logo {
    width: 2rem;
    height: 2rem;
    border-radius: .5rem;
    
    background-color: var(--color-blue);
    color: var(--color-white);
  }
}
