@import url("styles/reset.css");

@import url("styles/color.css");

@import url("styles/components/auth.css");
@import url("styles/components/card.css");
@import url("styles/components/footer.css");
@import url("styles/components/header.css");
@import url("styles/components/hero.css");
@import url("styles/components/homepage.css");

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: var(--color-gray-1);
  color: var(--color-black);
}

.tnum {
  font-feature-settings: "tnum" 1;
}

input::placeholder {
  color: var(--color-slate-4);
}

input,
button {
  width: 100%;
  height: 100%;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 0.5rem;
  user-select: none;

  &::before {
    content: "B";

    display: grid;
    place-content: center;

    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;

    font-size: 0.875rem; /* 14px */

    background-color: var(--color-blue);
    color: var(--color-white);
  }
}
