body > div.auth {
  height: 100dvh;

  &.alt-ratio {
    grid-template-columns: 1fr 1.4fr;
  }

  & .brand {
    font-weight: 600;

    &::before {
      background-color: color-mix(
        in oklch,
        var(--color-white) 20%,
        transparent
      );
      backdrop-filter: blur(0.5rem);
    }
  }

  & small {
    font-size: 0.75rem;
  }

  & > .banner {
    padding: 3rem;

    color: color-mix(in oklch, var(--color-white) 70%, transparent);
    background-image:
      linear-gradient(
        in oklch to bottom right,
        color-mix(in oklch, var(--color-blue) 80%, transparent),
        color-mix(in oklch, var(--color-blue-dark) 80%, transparent)
      ),
      url("../../images/auth/login.jpg");
    background-position: center;
    background-size: cover;

    & > div {
      max-width: 20rem;
    }

    & header {
      color: var(--color-white);
    }

    & h2 {
      color: var(--color-white);
      font-size: 2rem;
      font-weight: 700;
    }

    & .rating {
      font-size: 0.75rem;

      & strong {
        color: var(--color-white);
        font-size: 1.25rem;
        font-weight: 700;

        & svg {
          width: 1.25rem;
          aspect-ratio: 1;
        }
      }
    }

    & small {
      color: color-mix(in oklch, var(--color-white) 40%, transparent);
    }
  }

  & > main {
    & > .content {
      width: 100%;
      max-width: 28rem;

      color: var(--color-slate-4);

      & h1 {
        color: var(--color-slate-1);
        font-size: 1.5rem;
        font-weight: 700;
      }

      & a {
        color: var(--color-blue);

        &:hover {
          text-decoration: underline;
        }
      }

      & .sso {
        & > a {
          border: 1px solid
            color-mix(in oklch, var(--color-black) 10%, transparent);
          border-radius: 0.75rem;
          padding: 0.75rem;

          &:hover {
            text-decoration: none;
          }
        }
      }

      & .hr-text {
        display: flex;
        align-items: center;
        text-align: center;

        font-size: 0.75rem;

        &::before,
        &::after {
          content: "";
          flex: 1;
          border-block-end: 1px solid
            color-mix(in oklch, var(--color-black) 10%, transparent);
        }

        &::before {
          margin-inline-end: 1rem;
        }

        &::after {
          margin-inline-start: 1rem;
        }
      }

      & form {
        font-size: 0.875rem;

        a {
          font-size: 0.75rem;
        }

        & label:not(:has(input)) {
          color: var(--color-slate-1);
          font-weight: 500;
        }

        & label:has(input[type="text"]),
        & label:has(input[type="email"]),
        & label:has(input[type="password"]) {
          border: 1px solid
            color-mix(in oklch, var(--color-black) 10%, transparent);
          border-radius: 0.75rem;

          background-color: var(--color-gray-2);

          overflow: hidden;

          & [class^="icon-"] {
            font-size: 1rem;
            padding: 0.875rem;
            padding-inline: 1rem;

            position: absolute;
          }

          & input {
            padding: 0.875rem;
            padding-inline-start: 3rem;
          }
        }

        & label:has(input[type="checkbox"]) {
          font-weight: 500;

          & input {
            appearance: none;

            width: 0.875rem;
            aspect-ratio: 1;

            border: 1px solid
              color-mix(in oklch, var(--color-black) 30%, transparent);
            border-radius: 0.1875rem;
            margin: 1px;
            background-color: var(--color-white);

            &:checked {
              content: "";

              border-color: var(--color-slate-4);
              background-color: var(--color-slate-4);
            }
          }
        }

        & button[type="submit"] {
          border-radius: 0.75rem;
          padding: 0.875rem;

          color: var(--color-white);
          background-color: var(--color-blue);
          font-size: 1rem;
          font-weight: 500;
        }
      }

      & small {
        text-align: center;
      }
    }
  }
}
