footer {
  background-color: var(--color-slate-1);
  color: var(--color-gray-3);

  & h1, h2, h3, h4, h5, h6 {
    color: var(--color-white);
  }

  & > hr {
    border-color: var(--color-slate-2);
  }

  font-size: .875rem; /* 14px */

  & > section, & > nav {
    padding-block: 2rem;;
  }

  & > section:has(small) {
    padding-block: 1rem;

    font-size: .75rem; /* 12px */
  }
}
