header {
  font-size: .875rem;

  & > section[aria-label="Utility bar"] {
    background-color: var(--color-blue);
    color: var(--color-white);

    font-size: .75rem;
    padding-block: .375rem; /* 6px */
  }

  & > section[aria-label="Main header"] {
    padding-block: .5rem;

    --gap: .5rem;

    & [class^="icon-"] {
      font-size: 1.25rem;
    }

    & .brand, form {
      vertical-align: middle;
    }

    & .brand {
      padding-block: .25rem;
    }

    & form {
      display: inline-block;

      & > table {
        max-width: 36rem;
        background-color: var(--color-gray-2);
        
        border-width: 1px;
        border-style: solid;
        border-color: color-mix(var(--color-black), transparent 90%);
        border-radius: .75rem;
        
        transition-property: border-color;
        transition-duration: .2s;
        transition-timing-function: ease-out;

        & [class^="icon-"] {
          font-size: 1rem;
        }
        
        &:has(:focus-within) {
          border-color: color-mix(var(--color-black), transparent 50%);
        }

        & td {
          height: 2.5rem;

          &.input {
            padding-inline: 1rem;
            width: 100%;
          }
          
          &.submit {
            padding-inline: .75rem;

            background-color: var(--color-blue);
            color: var(--color-white);

            transition-property: background-color;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            &:has(:focus-within, :hover) {
              background-color: color-mix(var(--color-blue), var(--color-black) 20%);
            }

            &:has(:active) {
              background-color: color-mix(var(--color-blue), var(--color-black) 50%);
            }

            & > button {
              line-height: 0;

              cursor: pointer;
            }
          }
        }
      }
    }

    & .links {
      display: inline-block;
      vertical-align: middle;

      --gap: 0.125rem;

      & [class^="icon-"] {
        color: var(--color-slate-3);
      }

      & table {
        & td {
          height: 2.5rem;
          padding-inline: .75rem;
        }
        
        & span {
          display: inline-block;
        }

        & a > * {
          vertical-align: middle;
        }
      }
    }
  }

  & > hr {
    border-color: color-mix(var(--color-black), transparent 90%);
  }

  & > nav {
    padding-block: .5rem;

    & a {
      color: var(--color-slate-3);

      padding-inline: .875rem;

      white-space: nowrap;;

      transition-property: color;
      transition-duration: .2s;
      transition-timing-function: ease-out;

      &.all {
        color: var(--color-black);
      }

      &.hot {
        color: var(--color-red);

        &:focus, &:hover, &:active {
          color: color-mix(var(--color-red), var(--color-black) 50%);
        }  
      }

      &:focus, &:hover, &:active {
        color: var(--color-black);
      }
    }
  }
}
