header {
  font-size: .875rem;

  & .material-symbols-outlined {
    font-variation-settings: 
      'GRAD' 200,
      'opsz' 20;
  }

  & > section[aria-label="Utility bar"] {
    background-color: var(--color-blue);
    color: var(--color-white);

    font-size: .75rem;
    padding-block: .375rem; /* 6px */

    & .location, .contact {
      white-space: nowrap;
    }

    & .location {
      width: 100%;
    }

    & .contact > .space {
      display: inline-block;
      width: 1rem;
    }
  }

  & > section[aria-label="Main header"] {
    margin-block: .5rem;

    & .material-symbols-outlined {
      font-size: 1.5rem;
      font-variation-settings: 
        'GRAD' 0,
        'opsz' 24;
    }

    & .brand, form {
      vertical-align: middle;
    }

    & .brand {
      margin-block: .25rem;
    }

    & .gap {
      display: inline-block;
      width: .5rem;
    }

    & form {
      display: inline-block;

      & > table {
        max-width: 36rem;
        background-color: var(--color-gray-2);
        
        border-width: 1px;
        border-style: solid;
        border-color: color-mix(var(--color-black), transparent 90%);
        border-radius: .75rem;
        
        transition-property: border-color;
        transition-duration: .2s;
        transition-timing-function: ease-out;
        
        &:has(:focus-within) {
          border-color: color-mix(var(--color-black), transparent 50%);
        }

        & td {
          height: 2.5rem;

          &.input {
            padding-inline: 1rem;
            width: 100%;
          }
          
          &.submit {
            padding-inline: .5rem;

            background-color: var(--color-blue);
            color: var(--color-white);

            transition-property: background-color;
            transition-duration: .2s;
            transition-timing-function: ease-out;

            &:has(:focus-within, :hover) {
              background-color: color-mix(var(--color-blue), var(--color-black) 20%);
            }

            &:has(:active) {
              background-color: color-mix(var(--color-blue), var(--color-black) 50%);
            }

            & > button {
              line-height: 0;

              cursor: pointer;
            }
          }
        }
      }
    }

    & .links {
      display: inline-block;
      vertical-align: middle;

      & .material-symbols-outlined {
        color: var(--color-slate-3);
      }

      & table {
        & td {
          height: 2.5rem;
          padding-inline: 1rem;
        }
        
        & span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  & > hr {
    border-color: color-mix(var(--color-black), transparent 90%);
  }

  & > nav {
    margin-block: .5rem;

    & .material-symbols-outlined {
      font-size: 20px;
      font-variation-settings: 
        'GRAD' -25,
        'opsz' 20;
    }

    & a {
      color: var(--color-slate-3);

      padding-inline: .875rem;
      vertical-align: middle;

      white-space: nowrap;;

      transition-property: color;
      transition-duration: .2s;
      transition-timing-function: ease-out;

      &.all {
        color: var(--color-black);

        & > span {
          display: inline-block;
          vertical-align: middle;
        }
      }

      &.hot {
        color: var(--color-red);
      }

      &:focus, &:hover, &:active {
        color: var(--color-black);
      }
    }
  }
}
