body > main > section[aria-label="Hero"] {
  margin-block-start: -3rem;

  position: relative;
  height: 25rem;

  background-image: linear-gradient(
    in oklch to right,
    var(--color-blue),
    var(--color-purple)
  );

  & > nav {
    position: absolute;
    z-index: 10;
    inset: 0;

    margin: 1rem;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;

    pointer-events: none;

    & > div {
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      & > button {
        width: 2.5rem;
        height: 2.5rem;

        display: grid;
        place-content: center;

        font-size: 1.25rem;

        border-radius: 100rem;
        background-color: color-mix(
          in oklch,
          var(--color-white),
          transparent 80%
        );
        color: var(--color-white);

        pointer-events: auto;
      }

      &:has([aria-label="Previous"]) {
        flex-direction: column;
        grid-column: 1;
        grid-row: 1 / 4;
      }

      &:has([aria-label="Next"]) {
        flex-direction: column;
        grid-column: 3;
        grid-row: 1 / 4;
      }

      &:has([aria-selected]) {
        grid-column: 2;
        grid-row: 3;

        & button {
          width: 0.5rem;
          height: 0.5rem;

          background-color: color-mix(
            in oklch,
            var(--color-white),
            transparent 50%
          );

          transition-property: background-color width;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;

          &[aria-selected="true"] {
            width: 1.5rem;

            background-color: var(--color-white);
          }
        }
      }
    }
  }

  & > img {
    position: absolute;
    inset: 0;
    inset-inline-start: auto;

    width: 50%;
    height: 100%;
    object-fit: cover;

    mix-blend-mode: hard-light;
    opacity: 25%;
  }

  & > div.inset {
    position: absolute;
    inset: 0;

    & > div {
      width: 40%;

      & h2 {
        color: var(--color-white);

        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1.25;
      }

      & p {
        color: color-mix(in oklch, var(--color-white), transparent 20%);

        font-size: 1.125rem;
        line-height: 1.625;
      }

      & a {
        background-color: var(--color-white);
        color: var(--color-blue);

        padding: 0.75rem;
        padding-inline: 1.5rem;
        border-radius: 0.75rem;

        & > * {
          vertical-align: middle;
        }
      }
    }
  }
}
