body > main.homepage {
  margin-block: 3rem; /* 48px */

  & section {
    & header {
      font-size: 0.875rem; /* 14rem */

      & h2 {
        & [class^="icon-"] {
          color: var(--color-blue);
        }

        font-size: 1.25rem; /* 20px */
        font-weight: 500;
      }

      & a {
        color: var(--color-blue);

        & > * {
          vertical-align: middle;
        }
      }
    }

    &.categories {
      font-size: 0.75rem;

      & .card {
        border-radius: 0.75rem;
      }

      & img {
        width: 3.5rem;
        border-radius: 0.75rem;
      }
    }

    &.hot {
      & h2 {
        font-size: inherit;
        font-weight: inherit;

        padding: 0.5rem;
        padding-inline: 0.75rem;
        border-radius: 0.5rem;

        background-color: var(--color-red);
        color: var(--color-white);

        & [class^="icon-"] {
          color: inherit;
        }
      }
    }

    &.marketing {
      & .card {
        font-size: 0.875rem;
        line-height: 1.5;

        height: 11rem;
        background-position: center;
        background-size: cover;
        color: var(--color-white);

        & .content {
          margin: 1.5rem;
        }

        &.fashion {
          background-image:
            linear-gradient(
              in oklch to right,
              color-mix(var(--color-black) 60%, transparent),
              transparent
            ),
            url("../../images/marketing/fashion.png");
        }

        &.electronic {
          background-image:
            linear-gradient(
              in oklch to right,
              color-mix(var(--color-blue) 60%, transparent),
              transparent
            ),
            url("../../images/marketing/electronic.png");
        }

        & .category {
          color: color-mix(var(--color-white) 80%, transparent);
        }

        & strong {
          font-size: 1.25rem;
          font-size: 700;
        }

        & .cta {
          width: fit-content;

          padding: 0.25rem;
          padding-inline: 0.75rem;

          border-radius: 0.5rem;
          border-style: solid;
          border-color: var(--color-white);
          border-width: 1px;
        }
      }
    }
  }

  & > footer {
    text-align: center;

    & .content {
      margin: 2rem;
    }
  }
}
