body > main.homepage {
  margin-block: 3rem; /* 48px */

  & section {
    & header {
      font-size: 0.875rem; /* 14rem */

      & h2 {
        font-size: 1.25rem; /* 20px */
        font-weight: 500;
      }

      & a {
        color: var(--color-blue);

        & > * {
          vertical-align: middle;
        }
      }
    }

    &.categories {
      font-size: 0.75rem;

      & .card {
        border-radius: 0.75rem;
      }

      & img {
        width: 3.5rem;
        border-radius: 0.75rem;
      }
    }

    &.hot {
      & h2 {
        font-size: inherit;
        font-weight: inherit;

        padding: 0.5rem;
        padding-inline: 0.75rem;
        border-radius: 0.5rem;

        background-color: var(--color-red);
        color: var(--color-white);
      }
    }
  }
}
