body > main {
  margin-block: 3rem; /* 48px */

  & > section[aria-label="Hero"] {
    margin-block-start: -3rem;

    position: relative;
    height: 25rem; /* 400px */

    background-image: linear-gradient(
      in oklch to right,
      var(--color-blue),
      var(--color-purple)
    );

    & > nav {
      position: absolute;
      z-index: 10;
      inset: 0;

      margin: 1rem;

      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto 1fr auto;

      pointer-events: none;

      & > div {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        & > button {
          width: 2.5rem;
          height: 2.5rem;

          display: grid;
          place-content: center;

          font-size: 1.25rem;

          border-radius: 100rem;
          background-color: color-mix(var(--color-white), transparent 80%);
          color: var(--color-white);

          pointer-events: auto;

          cursor: pointer;
        }

        &:has([aria-label="Previous"]) {
          flex-direction: column;
          grid-column: 1;
          grid-row: 1 / 4;
        }

        &:has([aria-label="Next"]) {
          flex-direction: column;
          grid-column: 3;
          grid-row: 1 / 4;
        }

        &:has([aria-selected]) {
          grid-column: 2;
          grid-row: 3;

          & button {
            width: 0.5rem;
            height: 0.5rem;

            background-color: color-mix(var(--color-white), transparent 50%);

            transition-property: background-color width;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;

            &[aria-selected="true"] {
              width: 1.5rem;

              background-color: var(--color-white);
            }
          }
        }
      }
    }

    & > img {
      position: absolute;
      inset: 0;
      inset-inline-start: auto;

      width: 50%;
      height: 100%;
      object-fit: cover;

      mix-blend-mode: hard-light;
      opacity: 25%;
    }

    & > div.inset {
      position: absolute;
      inset: 0;

      & > div {
        width: 40%;

        & h2 {
          color: var(--color-white);

          font-weight: 700;
          font-size: 2.5rem;
          line-height: 1.25;
        }

        & p {
          color: color-mix(var(--color-white), transparent 20%);

          font-size: 1.125rem;
          line-height: 1.625;
        }

        & a {
          background-color: var(--color-white);
          color: var(--color-blue);

          padding: 0.75rem;
          padding-inline: 1.5rem;
          border-radius: 0.75rem;

          & > * {
            vertical-align: middle;
          }
        }
      }
    }
  }

  section {
    & header {
      & h2 {
        font-size: 1.25rem; /* 20px */
        font-weight: 500;
      }

      & a {
        font-size: 0.875rem; /* 14rem */

        color: var(--color-blue);

        & > * {
          vertical-align: middle;
        }
      }
    }

    & article {
      position: relative;

      .badge {
        position: absolute;
        inset-block-start: 0.5rem;
        inset-inline-start: 0.5rem;

        padding: 0.25rem;
        padding-inline: 0.5rem;
        border-radius: 100rem;

        color: var(--color-white);
        background-color: var(--color-red);
        font-size: 0.75rem;
      }

      .product {
        & > h3,
        & > div {
          font-size: 0.875rem;

          & > output {
            & > svg {
              width: 0.875rem;
              aspect-ratio: 1;
              color: var(--color-gray-3);
            }

            &.star-1 > svg:nth-child(-n + 1) {
              color: var(--color-yellow);
            }
            &.star-2 > svg:nth-child(-n + 2) {
              color: var(--color-yellow);
            }
            &.star-3 > svg:nth-child(-n + 3) {
              color: var(--color-yellow);
            }
            &.star-4 > svg:nth-child(-n + 4) {
              color: var(--color-yellow);
            }
            &.star-5 > svg:nth-child(-n + 5) {
              color: var(--color-yellow);
            }
          }
        }

        & > p > span,
        & > p > ins {
          color: var(--color-blue);
          font-size: 1rem;
          font-weight: 500;

          text-decoration: none;
        }

        & > p > del {
          font-size: 0.75rem;
        }
      }
    }

    & img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }

    color: var(--color-slate-4);

    & h3 {
      color: var(--color-slate-1);
    }

    &[aria-label="Browse categories"] {
      font-size: 0.75rem;

      & .card {
        border-radius: 0.75rem;
      }

      & img {
        width: 3.5rem;
        border-radius: 0.75rem;
      }
    }
  }
}
