{% extends "../layouts/main.njk" %}

{% block main %}
  <main class="pt-6 pb-16 bg-gray-50">
    <div class="wrapper flex flex-col gap-6">
      <nav
        aria-label="Breadcrumb"
        class="flex items-center gap-1 text-sm text-gray-400 [&_a]:transition-colors [&_a]:hover:text-black [&_span]:text-black"
      >
        <a href="#">Beranda</a>
        <i data-lucide="chevron-right" class="size-4"></i>
        <span href="#">Toko</span>
      </nav>

      <h1 class="text-2xl font-medium">Semua Produk</h1>

      <div class="flex gap-8 items-start">
        <aside
          class="w-56 shrink-0 flex flex-col gap-8 text-sm [&_h3]:text-xl [&_h3]:font-medium [&_h3]:mb-4 [&_ul]:flex [&_ul]:flex-col [&_ul]:gap-3 [&_ul]:text-gray-600 [&_label]:flex [&_label]:gap-2 [&_label]:items-center [&_label]:cursor-pointer hover:[&_label]:text-black [&_input]:accent-blue-600 [&_input]:size-4"
        >
          <section>
            <h3>Harga</h3>
            <div class="flex justify-between text-gray-500 text-xs mb-3">
              <span>Rp 0</span>
              <span>Rp 20.000.000</span>
            </div>
            <div class="h-1 w-full bg-gray-200 rounded-full overflow-hidden">
              <div class="h-full bg-blue-600 w-full"></div>
            </div>
          </section>
          <section aria-label="Category filter">
            <h3>Kategori</h3>
            <ul></ul>
          </section>
          <section aria-label="Rating filter">
            <h3>Rating Minimum</h3>
            <ul></ul>
          </section>
          <section>
            <h3>Ketersediaan</h3>
            <ul>
              <li>
                <label>
                  <input type="checkbox" />
                  Stok tersedia
                </label>
              </li>
            </ul>
          </section>
        </aside>

        <section aria-label="Product list" class="flex-1 flex flex-col gap-6">
          <header
            class="flex justify-between items-center text-sm *:text-gray-500"
          >
            <span>18 produk ditemukan</span>
            <div class="flex items-center gap-3">
              <label for="sort">Urutkan:</label>
              <select
                id="sort"
                class="border border-black/10 rounded-lg p-2 px-4 bg-white text-black outline-none focus:border-black/50 transition-colors cursor-pointer"
              >
                <option>Paling Populer</option>
                <option>Harga Terendah</option>
                <option>Harga Tertinggi</option>
              </select>
            </div>
          </header>
          <div class="grid grid-cols-4 gap-4"></div>
          <div class="my-4 flex justify-center">
            <button
              type="button"
              class="p-3 px-8 border border-blue-600 text-blue-600 rounded-xl text-sm font-medium hover:bg-blue-50 transition-colors cursor-pointer bg-white"
            >
              Muat Lebih Banyak (6 produk lagi)
            </button>
          </div>
        </section>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script type="module">
    import $ from "jquery";
    import { createIcons, icons } from "lucide";

    import { ProductCard } from "./scripts/product-card.js";

    import data from "./data.json" with { type: "json" };

    await $.ready;

    $("[aria-label='Main navigations']>div").append(
      ...data.categories.map(({ name, icon }) =>
        $("<a>", {
          class: "text-gray-500 hover:text-black",
          href: "",
          text: `${icon} ${name}`,
        }),
      ),
      $("<a>", {
        class: "text-red-600 hover:text-red-900",
        href: "",
        text: `🔥 Promo`,
      }),
    );

    $("[aria-label='Category filter']>ul").append(
      ...data.categories.map(({ name }) =>
        $("<li>").append(
          $("<label>").append(
            $("<input>", { type: "checkbox", value: name }),
            ` ${name}`,
          ),
        ),
      ),
    );

    $("[aria-label='Rating filter']>ul").append(
      [4, 3, 2].map((rating) => {
        const stars = Array.from({ length: 5 }, (_, i) =>
          $("<i>", {
            "data-lucide": "star",
            fill: i < rating ? "currentColor" : undefined,
          }),
        );

        return $("<li>").append(
          $("<label>").append(
            $("<input>", { type: "radio", name: "rating", value: rating }),
            $("<span>", {
              class: "flex gap-0.5",
              "aria-label": `${rating} bintang ke atas`,
            }).append(...stars),
            " ke atas",
          ),
        );
      }),
    );

    const displayedProducts = [...data.products]
      .sort((a, b) => b.ratingCount - a.ratingCount)
      .slice(0, 12);

    $("[aria-label='Product list']>div.grid").append(
      ...displayedProducts.map(ProductCard),
    );

    createIcons({ icons });
  </script>
{% endblock %}
