.inset {
  max-width: 80rem; /* 1280 px */
  padding-inline: 1rem; /* 16px */
  margin-inline: auto;
}

table.full {
  table-layout: fixed;
  width: calc(100% + var(--gap) * 2);
}

table.nowrap td {
  white-space: nowrap;
}

td.space {
  width: 100%;
}
