.inset {
  max-width: 80rem; /* 1280 px */
  padding-inline: 1rem; /* 16px */
  margin-inline: auto;
}

.w-fit {
  width: fit-content;
}

.flex {
  display: flex;

  & > .grow-0 {
    flex: 0;
  }
  & > .grow-1 {
    flex: 1;
  }

  flex-direction: row;
  &.block {
    flex-direction: column;
  }
  &.reverse {
    flex-direction: row-reverse;
  }
  &.block.reverse {
    flex-direction: column-reverse;
  }

  &.justify-center {
    justify-content: center;
  }
  &.justify-space-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }
}

.grid {
  display: grid;

  grid-template-columns: repeat(var(--columns, auto-fit), 1fr);
  &.columns-4 {
    --columns: 4;
  }
  &.columns-6 {
    --columns: 6;
  }
}

.gap-\.5 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}

.vertical-middle > * {
  vertical-align: middle;
}

table.full {
  table-layout: fixed;
  width: calc(100% + var(--gap) * 2);
}

table.nowrap td {
  white-space: nowrap;
}

td.space {
  width: 100%;
}
